body{
    background: #000;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    align-content: center;
}
.container{
     display: block;
     width: 500px;
     max-width: calc(100% - 3rem);     
     overflow: hidden;     
     padding: 1rem;
     margin: auto;
     position: relative;
 }
 .red-block{
    position: absolute;
    top: 0px;
    left: -120px;
    width: 300px;
    height: 100px;
    background-color: #de2600;
    transform: rotate(-55deg);
    z-index: -1;
    overflow: hidden;
}

 .logo{
    position: absolute;
    top: 80px;
    right: 35px;
    padding: .2em;
    background-color: rgba(0, 0, 0, 0.753);
    transform: rotate(55deg);
    font-size: 180%;
    font-weight: bold;
 }
 .sub-header{
     border-bottom: 1px solid #fff;
     padding-bottom: .3rem;
 }
 .login-info{
     text-align: right;
     font-weight: bold;
     font-size: 12px;
 }
 input{
    width: calc(100% - 3.5rem); 
    display: block;
    background: #ada5a542;
    border: 1px solid #8d8989;
    color: #fff;
    padding: 0.5rem;
    margin-left: 1.3rem;
    margin: .25rem;
 }
 input:focus {
     outline: 1px solid #ccbdba;
 }
 .checkbox{
     font-size: 12px;
 }
 .button{
    display: inline-block;
    padding-top: .7rem;
    padding-bottom: .7rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    background-color: #808080;
    color: #D0D0D0;
    border-radius: 3px;
    margin-top: .8rem;
    margin-right: .8rem;
    border: none;
    font-style: italic;
 }